/* the main container of the entire block */
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 16px;
}

/* github logo 'img' tag */
.github-logo{
    height: 60px;
    width: 60px;
    margin: 20px 0;
}

.error-wrapper{
    padding: 12px;
    border-radius: 6px;
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #A50203;
    text-align: center;
    align-self: center;
    width: 96%;
}